@font-face {
	font-family: 'WorkSans';
	src: url('assets/fonts/WorkSans-VariableFont_wght.ttf');
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'WorkSans';
}
header {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.icon-star {
	height: 30px;
}
h1 {
	padding-left: 10px;
	color: hsl(292, 42%, 14%);
}
body {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: hsl(275, 100%, 97%);
}
.background-image {
	z-index: -1;
	position: absolute;
	top: 0;
	width: 100%;
}
.container {
	min-width: 300px;
	max-width: 90%;
	background-color: white;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 25px;
}
.content-box {
	/* background-color: hsla(0, 100%, 50%, 0.2); */
	margin: 5px;
	min-height: 80px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 20px;
}
p {
	display: none;
	font-size: 16px;
	color: hsl(292, 16%, 49%);
	line-height: 1.3;
	font-weight: 400;
	margin-bottom: 5px;
}
h2 {
	color: hsl(292, 42%, 14%);
	font-size: 1.2rem;
}
.upper-border {
	border-top: 2px solid #eeeeee;
}
.h2-box {
	height: 100%;
	/* background-color: hsla(0, 100%, 50%, 0.2); */
	width: 100%;
	display: flex;
	align-items: center;
	padding: 5px;
}
.icon-plus {
	margin-right: auto;
}

/* have to be at the end */
.viev-element {
	display: none;
}
